body {
  margin: 0;
  padding: 0;
background: black;
}
.todo {
  color: white;
  width: 100%;
  margin-top: 150px;
  
}
.form-check{
  padding-left: 0;
}
.list-group {
  width: 400px;
  margin: 5px;
}
.closed {
  color:white;
  margin-left: 5px;
  cursor: pointer;
}
.btnFilter {
  width: 115px;
  margin-bottom: 20px;
  
}

.completed{
  text-decoration: line-through;
  color: red;
}